@model LancheListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>Todos os lanches</h1>

<hr />
<h2>@ViewBag.Total @ViewBag.TotalLanches</h2>
<hr />

<div class="Container">
    <div class="row">
@foreach(var lanche in Model.Lanches)
{
<partial name="_LanchesResumo" for="@lanche"/>
}
    </div>
</div>
    </tbody>
</table>
